<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}" style="background-color: white; color: black;">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0" style="color: black;">{{ section.title }}</h2>
    <p class="text-black-50" style="color: black;">{{ section.text }}</p>
    <hr class="divider border border-primary border-2">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline" style="position: relative; padding: 0; margin: 0; list-style: none;">
          <!-- Línea negra central -->
          <div style="content: ''; position: absolute; top: 0; bottom: 0; left: 50%; width: 2px; background-color: black; transform: translateX(-50%);"></div>
          {% for action in section.actions %}
          <li class="{% cycle 'timeline-normal', 'timeline-inverted' %}">
            <div>
              <img class="img-circle img-responsive timeline-image" src="{{ action.image }}" alt="" style="border: 2px solid black; border-radius: 50%;">
            </div>
            <div class="timeline-panel" style="color: black;">
              <div class="timeline-heading">
                <h4 style="color: black;">{{ action.title | markdownify }}</h4>
              </div>
              <div class="timeline-body">
                <p class="text-black-50" style="color: black;">{{ action.text | markdownify }}</p>
              </div>
            </div>
          </li>
          {% endfor %}
          <li class="timeline-inverted">
            <div>
              <img class="img-circle img-responsive timeline-image" src="{{ section.last_image }}" alt="" style="border: 2px solid black; border-radius: 50%;">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>